<form method="POST" id="myForm">
    <label id="inputLabel" for="index_to_search">
    Index:
    <input name="index_input" id="index_to_search" type = "number">
    </label>
    <button type="submit">submit</button>
    <hr>
</form>