<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Fibonacci and Prime Checker</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>


    <body>
        <h1>Fibonacci and Prime Checker</h1>
        <div id="error" hidden class="error"></div>
        {{{body}}}
        <ol id="results">

        </ol>
        <footer class="authorData">
            <p>Avirat Belekar</p>
            <p>CWID: 10454332</p>
            <p>abelekar@stevens.edu</p>
        </footer>
        <script src = "/static/js/script.js"></script>
    </body>
</html>